body
{
    /* background-image: url("Images/Page_Background.png"); */
    background: linear-gradient( #537895, #09203f);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding: 0;
    background-attachment: fixed;
}

*{
    text-decoration: none;
}
.navbar{
    background: black;
    text-align: center;
    font-family: calibri;
    padding-right: 1%;
    padding-left: 1%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
button{
    background-size: 100%;
    background-color: #537895;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 90px;
    border: 2px solid white;
    padding: 2%;
    transition: 0.3s;
    font-weight: bold;
    font-size: 20px;
    font-family: calibri;
    color: white;
}
button:hover{
    border-radius:15px;
    transform: scale(1.1);
    color: lightblue;
}

.picture{
    border: 10px solid black;
    width: 200px;
    height: 250px;
    background: url("Images/brandon_picture_mainpage.jpg");
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0 auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bodyText{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 70%;
    text-align: center;
    font-family: calibri;
}

.emmail{
    border: 5px solid black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    color: white;
    font-family: calibri;
    width: 300px;
    margin: 0 auto;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 0.5s;
}
.emmail:hover{
    border: 5px solid lightblue;
    border-radius: 20px;
}

.spiner{
    background: url("Images/youtube_racheal_background_potato_v1.png");
    background-size: cover;
    overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid black;
    animation: ani 3s linear infinite;
    background-position: center;
    margin: 0 auto;
}
@keyframes ani{
    to{
        transform: rotate(360deg);
    }
}

.alink{
    border: 2px solid rgba(0, 0, 0, 0);
    transition: 0.3s;
}
.alink:hover{
    border: 2px solid lightblue;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
}

.MMPicture{
    border: 10px solid black;
    background: url("Images/game_screenshot_extra_four.png");
    color: white;
    width: 40%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}