body
{
    background: linear-gradient( #537895, #09203f);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding: 0;
    background-attachment: fixed;
}

*{
    text-decoration: none;
}
.navbar{
    background: black;
    text-align: center;
    font-family: calibri;
    padding-right: 1%;
    padding-left: 1%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
button{
    background-size: 100%;
    background-color: #537895;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 10px;
    width: 90px;
    border: 2px solid white;
    padding: 2%;

    transition: 0.3s;

    font-weight: bold;
    font-size: 20px;
    font-family: calibri;
    color: white;
}
button:hover{
    border-radius:15px;

    transform: scale(1.1);
    color: lightblue;
}

.slink{
    border: 2px solid rgba(0, 0, 0, 0);
}
.slink:hover{
    border: 2px solid lightblue;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
}

.spiner{
    background: url("Images/youtube_racheal_background_potato_v1.png");
    background-size: cover;
    overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid black;
    animation: ani 3s linear infinite;
    background-position: center;
    margin: 0 auto;
}
@keyframes ani{
    to{
        transform: rotate(360deg);
    }
}

.infoHolder{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image{
    max-width: 25%;
    float: left;
    border-radius: 10%;
    transition: 0.5s ease-in-out;
    padding-right: 1%;
    padding-bottom: 1%;
}
.image:hover{
    border-radius: 20%;
    filter: drop-shadow(0px 0px 20px rgb(0, 0, 0, 0.75));
    transition: 0.5s ease-in-out;
}

.workButton{
    background-color: transparent;
    border: 3px solid black;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.slink{
    border: 2px solid rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    text-align: center;
    width: 30%;
    transition: 0.5s;
}
.alink{
    border: 2px solid rgba(0, 0, 0, 0);
    transition: 0.3s;
}
.alink:hover{
    border: 2px solid lightblue;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
}
.slink:hover{
    border: 2px solid lightblue;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
}

.slist{
    border: 2px solid rgba(0, 0, 0, 0);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slist:hover{
    border: 2px solid lightblue;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
}

.thisBorder{
    border: 10px solid black;
    border-radius: 50px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
}

.item{
    padding: 0.3%;
    width: 20%;
}
.vitem{
    padding: 0.3%;
    width: 30%;
}